#add-member {
  color: white;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(254, 238, 183), rgb(245, 98, 0));
}

#add-member div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

#icon-add {
  font-size: 20px;
  color: rgb(255, 255, 255);
  height: 2px;
  width: 20px;
}
