#add-member {
  color: white;
  
  background: linear-gradient(to right, rgb(249, 191, 1), rgb(255, 167, 3));
}

#add-member div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

#icon-add {
  font-size: 20px;
  color: white;
  height: 20px;
  width: 20px;
}
