#add-member {
  color: white;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(255, 215, 190), rgb(255, 119, 29));
}

#add-member div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

#icon-add {
  font-size: 20px;
  color: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}
