/*************  ✨ Codeium Command 🌟  *************/
#message {
  display: flex;
  flex-direction: row;
  gap: 20px;
#message{
    display: "flex",
    flexDirection: "row",
    gap: "20px",    
}
#message-icon {
  color: black;
  cursor: pointer;
  height: 20px;
  width: 20px;
#message-icon{
    color: "black",
    cursor: "pointer",
    height: "20px",
    width: "20px",  
}
#notification-icon {
  color: black;
  cursor: pointer;
  height: 20px;
  width: 20px;
#notification-icon{
    color: "black",
    cursor: "pointer",
    height: "20px",
    width: "20px",   
}
/******  e64e6a45-5390-4a9d-9dd2-67549b894a49  *******/