#message {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#message-icon {
  color: black;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
#notification-icon {
  color: black;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

#message {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust spacing between icons as needed */
}

.icon-container {
  position: relative;
  display: inline-block;
}

#message-icon,
#notification-icon {
  font-size: 24px; /* Adjust size as needed */
  cursor: pointer;
}

.red-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

/* Position the dots - adjust these values as needed */
.message-dot {
  top: 0;
  right: 0;
}

.notification-dot {
  top: 0;
  right: 0;
}
