.admin-info {
  display: flex;
  flex-direction: column;
}
.admin-info span {
  font-size: 9.2px;
}
#category {
  font-size: 0.9rem;
  color: #000000;
  font-weight: 500;
}
#name {
  font-size: 06rem;
  color: #000;
}
